.place-order {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
    padding: 5%;
}

.place-order-left {
    width: 100%;
    max-width: max(30%, 500px);
}

.place-order-left .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.place-order-left input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline: tomato;
}

.place-order-left .multi-fields {
    display: flex;
    gap: 10px;
}

.place-order-right {
    width: 100%;
    max-width: max(40%, 500px);
}

.place-order .cart-total button {
    margin-top: 30px;
}

.Place-address {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.Place-address select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s ease;
}


.Place-address option {
    padding: 8px;
    background-color: #fff;
    color: #333;
}

.Place-address option[value=""] {
    color: #888;
    font-style: italic;
}
