
.user-list-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.user-list-container p{
    color: #f24405;
    text-align: center;
}

.user-list-container p {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}


.user-list-table {
    width: 100%; 
    border-collapse: collapse; 
    table-layout: fixed;    
}

.user-list-table th, 
.user-list-table td {
    padding: 12px 15px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;     
    text-overflow: ellipsis;
}

.user-list-table th:nth-child(1), 
.user-list-table td:nth-child(1) {
    max-width: 300px;        
}
.user-list-table th:nth-child(2), 
.user-list-table td:nth-child(2) {
    max-width: 200px;        
}
.user-list-table th:nth-child(3), 
.user-list-table td:nth-child(3) {
    max-width: 200px;        
}
.user-list-table td:nth-child(4),
.user-list-table th:nth-child(4),
.user-list-table td:nth-child(5),
.user-list-table th:nth-child(5) {
    text-align: center; 
    max-width: 150px;
}
.page-link:hover,
.page-link {
    color: #000;
}
.search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: right;
}

.search-container input {
    width: 30%;
    padding: 10px;
    border: 1px solid #f28705;
    border-radius: 40px;
    font-size: 16px;
}

.search-container button {
    padding: 10px 15px;
    background-color: #f28705;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #f24405;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #f24405;
    border-color: #f24405;
}
.table-header {
    background-color: #f24405; 
    color: white; 
}
.cursor {
    cursor: pointer;
    display: flex;       
    justify-content: center; 
    align-items: center;     
    height: 100%;            
    text-align: center;      
  }
  



.btn-update {
    background-image: linear-gradient(to bottom, #f24405, #f28705); 
    color: white; 
    border: none;
    padding: 8px 12px;
    border-radius: 30px;
    cursor: pointer;
}



.btn-update:hover {
    background-image: linear-gradient(to top, #f24405, #f28705); 
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.popup-content label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.popup-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.popup-content button {
    background-color: #f28705; 
    color: white; 
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #f24405; 
}


.popup-content button:nth-of-type(2) {
    background-color: #f28705;
}

.popup-content button:nth-of-type(2):hover {
    background-color: #f24405; 
}


@media screen and (max-width: 768px) {
    .user-list-table th, 
    .user-list-table td {
        font-size: 14px;    
        padding: 10px;     
    }

    .user-list-table th:nth-child(1), 
    .user-list-table td:nth-child(1) {
        max-width: 100px;   
    }

    .user-list-table th:nth-child(3), 
    .user-list-table td:nth-child(3) {
        max-width: 80px;     
    }
}

@media screen and (max-width: 480px) {
    .user-list-table th, 
    .user-list-table td {
        font-size: 12px;    
    }

    .user-list-table th:nth-child(1), 
    .user-list-table td:nth-child(1) {
        max-width: 80px;     
    }

    .user-list-table th:nth-child(3), 
    .user-list-table td:nth-child(3) {
        max-width: 60px;     
    }
}