.top-seller-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    opacity: 0; 
    transform: translateX(20px); 
    animation: fadeInUp 0.8s ease forwards; 
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateX(0px); 
    }
    100% {
        opacity: 1;
        transform: translateX(20px); 
    }
}

.top-seller-table {
    width: 85%; 
    border-collapse: collapse; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    overflow: hidden; 
    transition: box-shadow 0.3s ease-in-out; 
}

.top-seller-header {
    background: #000000c0; 
    color: white; 
    font-weight: bold;
    text-align: center; 
}

.top-seller-table th, .top-seller-table td {
    border: 1px solid #ddd; 
    padding: 15px;
    text-align: center; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.top-seller-table tr:nth-child(even) {
    background-color: #f9f9f9; 
}

.top-seller-table tr:hover {
    background-color: #f99e42; 
    transform:translateY(-5px); 
    transition: transform 0.3s ease-in-out; 
}

.item-image {
    width: 60px; 
    height: auto; 
    border-radius: 5px; 
}

.top-seller-table td {
    font-family: Arial, sans-serif;
    color: #333; 
}

.top-seller-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px; 
}

.top-seller-table td {
    font-size: 16px; 
}
