@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body {
  min-height: 100vh;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  display: none;
}

.app-content {
  display: flex;
  width: 100%; 
  box-sizing: border-box; 
}


.flex-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.flex-col p{
  color: #f24405;
  text-transform: uppercase;
}

.add-category, .add-price {
  display: flex;
  flex-direction: column; 
  margin-bottom: 20px; 
}

.add-category p, .add-price p {
  font-size: 100%; 
  margin-bottom: 8px; 
  color: #333; 
}

.add-category select, .add-price input {
  padding: 12px 15px; 
  border-radius: 50px; 
  font-size: 100%; 
  background-color: #fff; 
  transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}


.add-category select:hover, .add-price input:hover {
  border-color: #f24405; 
}


.add-category select:focus, .add-price input:focus {
  border-color: #f24405; 
  outline: none; 
  box-shadow: 0 0 5px rgba(242, 68, 5, 0.5); 
}


.list-table {
  display: flex;
  flex-direction: column; 
}

.list-table-format {
  align-items: center; 
  justify-content: space-between; 
  padding: 10px; 
  text-align: center;
  border: none !important;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.list-table-format p{
  font-weight: 400;
  font-size: medium;
  color: #000000c0;
}
.title {
  font-weight: bold; 
  background-color: #f0f0f0; 
}
.list-table-format img {
  width: 100%;
  border-radius: 10px;
}
.list-table-format.title {
  background-color: #000000c0;
  text-align: center;
}
.list-table-format:hover{
  
  transform: translateY(-10px);
}
.list-table-format.title b{
  color: #fff;
  text-transform: uppercase;
}


@media (max-width: 768px) {
  .app-content {
    display: block;
    justify-content: center !important;
  }
  .sidebar {
    width: 100%;
    min-height: 100%;
}
  .sidebar-option p {
    display: block;
  }
  .add {
    width: 100%;
    margin-left: 1%;
  }  
  .flex-col p {
    text-align: center;
  }
  .list-table-format.title {
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.list-table-format.title b {
    margin-bottom: 10px;
    margin-right: 0;
}
}
