.sidebar {
    width: 20vw;
    min-height: 100%;
    border-top: 0;
    font-size: max(1vw, 10px);
    background: #000;
}
.sidebar .sidebar-options .sidebar-option i,
.sidebar .sidebar-options .sidebar-option p {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff; 
    margin-bottom: 0px !important;
    transition: color 0.3s ease; 
}

.sidebar .sidebar-options .sidebar-option.active i,
.sidebar .sidebar-options .sidebar-option.active p {
    color: #000; 
}

.sidebar-options {
    padding-top: 50px;
    padding: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 5%;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
    border-radius: 50px;
    opacity: 0.7; 
    transform: translateX(-20px); 
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.sidebar-option:hover {
    color: #000;
    background-color: #DDDD;
    text-decoration: none; 
}

a.sidebar-option.active {
    background-color: #fff;
    color: #000;
    opacity: 1; 
    transform: translateX(0);
    text-decoration: none; 
}

@media(max-width:1050px) {
    .sidebar-option p {
        display: none;
    }
}