/* Banner.css */

.mySwiper {
    width: 100%;
    height: 100vh; 
    position: relative;
  }
  
  .mySwiper img {
    width: 100%;
    height: 100%; 
    object-fit: cover; /* Cắt ảnh nếu không tỉ lệ không khớp với khung */
  }
  
  .autoplay-progress {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
  }
  
  .autoplay-progress svg {
    transform: rotate(-90deg);
    stroke: #00ff00;
    stroke-width: 4;
    fill: none;
  }
  
  .autoplay-progress circle {
    stroke-dasharray: 126;
    stroke-dashoffset: calc(126 * var(--progress));
  }
  
  .autoplay-progress span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #fff;
  }
.swiper-button-prev,
.swiper-button-next{
    color: #F28705 !important;
}
.swiper-pagination-bullet {
    background: orange !important; 
    opacity: 0.7; 
    transition: opacity 0.3s; 
  }
  
  .swiper-pagination-bullet-active {
    background: orange !important; 
    opacity: 1; 
  }