
.comment-list-container {
    padding: 40px;
    background-color: #fff;
    color: #333;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

.comment-list-container p {
    color: #333;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.comment-list-container h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

/* Card Container */
.comment-cards {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}


.comment-card {
    border: 2px solid #000000c0;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.comment-card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}


.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.comment-email {
    font-weight: bold;
    color: #333;
}

.star-rating {
    font-size: 16px;
}

.star.filled {
    color: #f24405; 
}



/* Comment Text */
.comment-text {
    color: #666;
    margin: 10px 0 15px;
    font-size: 15px;
    line-height: 1.5;
}


.comment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-order {
    color: #999;
    font-size: 14px;
}


.btn-delete-cmt {
    background-color: #000000c0;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
    
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-delete-cmt:hover {
    background: #fff;
    color: #333;
    border: 2px solid #333;
}


.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #000000c0;
    border-color: #333;
}

.page-link {
    color: #666;
}

.page-link:hover {
    color: #f24405;
}


@media screen and (max-width: 768px) {
    .comment-list-container p {
        font-size: 24px;
    }

    .comment-cards {
        grid-template-columns: 1fr;
    }

    .comment-card {
        padding: 15px;
    }

    .comment-text {
        font-size: 14px;
    }

    .btn-delete-cmt {
        padding: 6px 12px;
    }
}
